#Form{
  display: flex;
  flex-direction: column;
  width: 85%;
  height: 100%;
  justify-content: space-evenly;
}

@media screen and (max-width: 768px) {
  #Form{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    height: 62vh;
  }
  #Form-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
