.info-card h2 {
    font-size: 20px;
}
.card-container {
      display: flex;
      flex-direction: column;
      width: 87%;
      height: 75%;
      justify-content: space-between;
      align-items: baseline;
}
.card-container a {
    margin-left: 2.5rem;
  }
.card-element {
    width: 85%;
    font-size: 15px;
}