* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}
.header h1 {
    font-weight: bolder;
    font-size: 1.5rem;
    color: #000;
}
.login-section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    color: #fff;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-container {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#helper-text a {
    color: #03DAC5;
}

@media screen and (max-width: 700px) {
    .container {
        width: 100%;
    }
    .loginText p {
        font-size: .7rem;
        text-align: center;
    }
}