@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

.orgSection {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 2rem;
    width: 100%,
}

.resultsSection {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.css-wg8xxg-MuiStack-root button {
    margin-bottom: 25px;
    margin-top: inherit;
    text-align: left;
    font-weight: bolder;
    max-height: 28px;
    font-size: 1.1rem;
    font-family: 'Paytone One', sans-serif;
    color: #024059;
}
.orgSection .orgName{
    font-family: 'Paytone One', sans-serif ;
}
.css-wg8xxg-MuiStack-root .css-i4bv87-MuiSvgIcon-root {
    color: #D97904;
}
.css-9ooee9-MuiStack-root button {
    color: #D97904;
}
.organizationEventCard {
    margin-bottom: 10vh;
}
.css-1aczowp-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
    background-color: transparent  !important;
    color: #D97904 !important;
}

@media screen and (max-width:700px) {
    .orgSection {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .cover {
        width: 100%;
        height: auto;
    }
    .title {
        font-size: 1.5rem;
    }
    .text {
        font-size: .7rem;
        width: 80%;
    }
    #registerContainer {
        font-size: .5rem;
        width: 100%;
    }
    #logOut {
        font-size: 1em;
        height: fit-content;
        width: fit-content;
    }
    #orgHeader {
        display: none;
    }
    #logo {
        margin-top: 10px;
    }
    .resultsSection .organizationEventCard {
        flex-direction: column ;
    }
    .organizationEventCard .eventOrgCover {
        max-width: 100% ;
        max-height: 35% ;
    }
    .organizationEventCard .eventOrgDetails {
        max-width: 100% ;
        height: 65% ;
        margin: 0 ;
    }
    .MuiBox-root h4 {
        display: none;
    }
    .container .login-section {
        height: 600px ;
    }
    .orgSection span {
        font-size: 1rem;
    }
    .container .form-container {
        height: 100% ;
        width: 100% ;
    }
    #root .css-u68rod {
        max-width: 90% ;
        height: 80vh ;
        margin: 50px auto ;
    }
    .css-u68rod .css-10pgvii-MuiTabPanel-root {
        height: 100% ;
        width: 370px ;
    }
    .css-1d9cypr-MuiStack-root {
        height: 16%;
    }
    .form-container .MuiTextField-root {
        width: 88%;
    }
    .organizationHeader div input {
        width: 100% !important ;
    }
    .filter-nav .search  {
        width: 100%  ;
    }
    #filterButn {
        display: none;
    }
    #divider {
        display: none ;
    }
    .filter-container .filter-nav {
        width: 90% ;
        left: 5vw ;
    }
    .eventOrgDetails .css-9ooee9-MuiStack-root {
        margin-top: 1vh ;
        height: 100% ;
    }
    .css-1d9cypr-MuiStack-root p {
        font-size: .7rem ;
    }
    .css-wg8xxg-MuiStack-root button {
        font-size: .8rem;
    }
}