@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
.MuiToolbar-root {
  background-color: #024059;
  height: 40px;
}

.css-1t29gy6-MuiToolbar-root {
  min-height: 55px !important;
}

#registerContainer {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

#header {
  width: 100%;
  height: 1vh;
}

#logo {
  height: 25px;
}

#login-link {
  color: #ffff;
  text-decoration-color: #ffff;
  font-weight: 500;
  font-size: 0.95rem;
  width: 13%;
}

#login-link:hover {
  font-size: 1rem;
  text-decoration-color: #D97904;
}

#reg-link {
  text-decoration: none;
}

#SignUp {
  background-color: #ffff;
  color: #D97904;
  border: #D97904 solid 2px;
  height: 31px;
  width: 7vw;
  text-decoration: none;
  border-radius: 8px;
  font-family: 'Paytone One', sans-serif;
  font-size: 0.8rem;
}

#SignUp:hover {
  background-color: #D97904;
  color: #ffff;
  cursor: pointer;
}

#username {
  color: white;
  font-size: 1.2rem;
}

#logOut {
  background-color: #187F75;
  font-size: 0.5rem;
}

@media screen and (max-width: 700px) {
  .loginButn {
    display: none;
  }
  #registerContainer a {
    display: none;
  }
}