.radio-cont span {
    font-size: 14px;
} 
.radio-cont legend {
    font-size: 16px;
} 

.input-cont {
    width: 90%;
}
.header-container {
    width: 80%;
    text-align: center; 
    display: flex; 
    flex-direction: column; 
    color: #024059;
}
.header-container h2 {
    color: #024059;
    font-size: 20px;
    width: 100%;
}
.header-container p {
    font-size: 12px;
}