.about-section {
  color: #024059;
  margin-top: 3%;
  display: flex;
  justify-content: center;
}
.about-container {
  width: 75%;
}
.about-welcome {
  padding: 1%;
}
.about-description {
  padding: 1%;
  font-weight: lighter;
  letter-spacing: 1px;
}
.about-slider-container {
  display: flex;
  width: 100%;
  border-radius: '22px';
  color: '#D97904';
  box-shadow: rgba(194, 189, 189, 0.35) 0px 5px 8px;
}
.about-h2 {
  padding: 1%;
  letter-spacing: 1px;
  margin-top: 3%;
}
